{{#if cart.items.length}}
<ul class="cart__item-list">
    {{#each cart.items }}
    {{> cart-product}}
    {{/each}}
</ul>
<div class="centered">
    <form action="/orders" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" class="btn">Order Now!</button>
    </form>
</div>
{{else}}
<h1 class="centered">No Products in Cart</h1>
{{/if}}